.btn {
    color: white;
    background-color: #bb0808;
}

.select {
    background-color: #bb0808;
}

.search {
    background-color: white;
    color: black;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user{
    display: flex;
}

.menu{
    display: flex;
    justify-content: space-between;
}